# Data Science Tools and Ecosystem

## In this notbebook, data science tools and ecosystem are summarized

## **Objectives:**
- Some of the popular languages that Data Scientists
- Some of the commonly used libraries used by Data Scientists
- Creating a table using markdown

## Some of the popular languages Data Scientist use are: 

1. Python
2. R
3. Scala

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

|Data Science Tools|
|:----------------:|
|  Visual Studio   |
|   IBM Studio     |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [6]:
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Adam Savoia